---
layout: default
---

<style>
.a visited{
  color: white;
}
.a {
  color:white;
}
.a hover{
  color: white;
}
</style>

{% capture generated %}


<div style="background-color: #f0f0f0;margin:0 auto;max-width:1200px;">
  <div class="anuncio-ml" style="text-align: center;position: relative; margin: 32px auto;max-width:700px; background-color: #ffffff; padding: 16px 8px; -webkit-box-shadow: 4px 4px 15px 0px rgba(0,0,0,0.6); -moz-box-shadow: 4px 4px 15px 0px rgba(0,0,0,0.6); box-shadow: 4px 4px 15px 0px rgba(0,0,0,0.6);">
      <div>
        <img src="https://s3-sa-east-1.amazonaws.com/strike7-image/lista_jogos_email/topo.png" style="max-width:100%" alt="Generic placeholder thumbnail">
      </div>
  </div>



  <div style="background-color:#D2D028;color:white;height:40px;text-align:center;font-size:28px;font-weight:bold;">
   Estante Strike7
  </div>

    <div style=" text-align: center;margin: 0 auto; max-width:700px background-color: #ffffff; padding: 16px 8px; -webkit-box-shadow: 4px 4px 15px 0px rgba(0,0,0,0.6); -moz-box-shadow: 4px 4px 15px 0px rgba(0,0,0,0.6); box-shadow: 4px 4px 15px 0px rgba(0,0,0,0.6);">
      {% for jogo in site.jogos %}

          {% if jogo.cover_id != null and jogo.cover_id != 76 and jogo.cover_id != 11 and jogo.cover_id != 13 and jogo.cover_id != 12 and jogo.cover_id != 94 and jogo.cover_id != 16 and jogo.cover_id != 20 and jogo.cover_id != 26 and jogo.cover_id != 19 and jogo.cover_id != 27 and jogo.cover_id != 87 and jogo.cover_id != 35 and jogo.cover_id != 37 and jogo.cover_id != 74 and jogo.cover_id != 39 and jogo.cover_id != 40 and jogo.cover_id != 44 and jogo.cover_id != 81 and jogo.cover_id != 54 and jogo.cover_id != 55 and jogo.cover_id != 56 and jogo.cover_id != 58 and jogo.cover_id != 60 and jogo.cover_id != 88  and jogo.cover_id != 62  and jogo.cover_id != 64 and jogo.cover_id != 67  and jogo.cover_id != 68 and jogo.cover_id != 48  and jogo.cover_id != 65 and jogo.cover_id != 82 and jogo.cover_id != 47 and jogo.cover_id != 21 %}

            
              {% assign idurl = jogo.title | replace: ' ' : '' | replace: "'" : "" | replace: "&" : "" | replace: "(PES)" : "" | replace: "(Bundle1e2)" : "bundle" | replace: ":" : "" | replace: "-2dias+1" : "" | replace: "-2Dias+1" : "" | downcase %}
              {% assign categoria = jogo.category | replace: ' ' : '-' | replace: "ã" : "a" | replace: "ô" : "o"| replace: "ç" : "c" | replace: "ú" : "u" | downcase %}
             
                <div  style="font-weight:bold;color:white;padding:0px;margin-left:0px;margin-right:0px;margin-top:0.5%;margin-bottom:0.5%;min-width:130px;width:15%;display: inline-block;">
                        <img src="http://s3-sa-east-1.amazonaws.com/strike7-image/cover/{{jogo.cover}}" title="{{jogo.titulo}}"  style="width:100%;margin:0px;" />
                        <img src="http://d.loja.strikesete.com.br/api/capa/{{jogo.cover_id}}?tipo=data" title="Disponibilidade"  style="height:40px;width:100%;margin:0px;" />
                        <div style="background-color:#E3D2D2;margin-top:-5px;height:35px;font-size:24px;border-radius:5px;width:100%;text-align:center;">
                         <a href="http://loja.strikesete.com.br/{{categoria}}/{{idurl}}" alt="{{jogo.title}}" target="_blank">
                          Alugar
                           </a>
                        </div>

                </div>
              
            {% endif %}
        {% endfor %}
    </div>
   

     
     
        <div style=" text-align: center;margin: 0 auto; max-width:1200px; background-color: #ffffff; padding: 16px 8px; -webkit-box-shadow: 4px 4px 15px 0px rgba(0,0,0,0.6); -moz-box-shadow: 4px 4px 15px 0px rgba(0,0,0,0.6); box-shadow: 4px 4px 15px 0px rgba(0,0,0,0.6);">
              http://loja.strikesete.com.br, whats app 799-99938381
        </div>
</div>

{% endcapture %}

{% highlight html %}
{{generated }}
{% endhighlight %}
