---
layout: default
---

<div class="home">

  <h1 class="page-heading">Jogos</h1>

<table>
  <tbody>
    {% for jogo in site.jogos %}
    {% if jogo.title == null %}
     {% continue %}
    {% endif %}
        {% for i in (0..4) %}
          <tr>
            <td>
              {{ jogo.title | replace: ' ' : '' | replace: "'" : "" | replace: "&" : "" | replace: "(PES)" : "" | replace: "(Bundle1e2)" : "bundle" | replace: ":" : "" | replace: "-2dias+1" : "" | replace: "-2Dias+1" : "" | downcase}}
            </td>
            <td>
             Acesso {{ jogo.title | replace: "- 2 dias + 1" : "" }} - Mídia Digital
            </td>
            <td>
              Tipo > Aluguel, {{ jogo.category }} , Todos
            </td>
            <td>
                Período
            </td>
            <td>
            {% case i %}
            {% when 0 %}
                7 dias
            {% when 1 %}
                10 dias
            {% when 2 %}
                15 dias
            {% else %}
                30 dias
            {% endcase %}
             </td>
             <td>
               &nbsp;
             </td>
             <td>
              &nbsp;
             </td>
             <td>
               &nbsp;
             </td>
             <td>
               &nbsp;
             </td>

              <td>

               {{jogo.prices[i]}}

              </td>
              <td>
                &nbsp;
              </td>
              <td>
                0.00
              </td>
              <td>
                &nbsp;
              </td>
              <td>
                &nbsp;
              </td>
              <td>
                SIM
              </td>
              <td>
                NAO
              </td>
              <td>
                {% capture generated %}
                <div style="background-color: #f0f0f0;" >
                <div style="position: relative; margin: 32px auto; width: 90%; background-color: #ffffff; padding: 16px 20px; -webkit-box-shadow: 4px 4px 15px 0px rgba(0,0,0,0.6); -moz-box-shadow: 4px 4px 15px 0px rgba(0,0,0,0.6); box-shadow: 4px 4px 15px 0px rgba(0,0,0,0.6);">
                    <header>
                        <h3 style="font-family: 'Segoe UI Light',Arial,Sans-Serif; font-size: 30px; font-weight: normal; line-height: 34px;">
                            Detalhe do jogo</h3>
                    </header>
                    <div style="font-family: 'Segoe UI',Arial,Sans-Serif; font-size: 15px; line-height: 22px;">
                        <div>
                            <ul class="fields" style="padding:20px" >
                                <li id="gameSize"><label
                                        style="font-family: 'Segoe UI Semibold',Arial,Sans-Serif; text-transform: capitalize;"><strong>Tamanho</strong>:</label><span>{{ jogo.tamanho }}</span>
                                </li>
                                <li id="gameReleaseDate"><label
                                        style="font-family: 'Segoe UI Semibold',Arial,Sans-Serif; text-transform: capitalize;"><strong>Data
                                    de lan&ccedil;amento</strong>:</label> <span>{{ jogo.date | date: "%d/%m/%y" }}</span></li>
                                <li id="gameDeveloper"><label
                                        style="font-family: 'Segoe UI Semibold',Arial,Sans-Serif; text-transform: capitalize;"><strong>Desenvolvedor</strong>:</label><span>{{ jogo.desenvolvedor }}</span>
                                </li>
                                <li id="gamePublisher"><label
                                        style="font-family: 'Segoe UI Semibold',Arial,Sans-Serif; text-transform: capitalize;"><strong>Editor</strong>:</label><span>{{ jogo.editor }}</span>
                                </li>
                                <li id="gameGenre"><label
                                        style="font-family: 'Segoe UI Semibold',Arial,Sans-Serif; text-transform: capitalize;"><strong>G&ecirc;nero</strong>:</label><span>{{ jogo.category }}</span>
                                </li>
                                <li id="gameHour"><label
                                        style="font-family: 'Segoe UI Semibold',Arial,Sans-Serif; text-transform: capitalize;"><strong>Tempo
                                    de jogo</strong>:</label><span>{{ jogo.tempo_campanha }} / {{ jogo.tempo_completo }} horas</span></li>
                            </ul>
                        </div>

                    </div>
                </div>

                <div style="position: relative; margin: 32px auto; width: 90%; background-color: #ffffff; padding: 16px 20px; -webkit-box-shadow: 4px 4px 15px 0px rgba(0,0,0,0.6); -moz-box-shadow: 4px 4px 15px 0px rgba(0,0,0,0.6); box-shadow: 4px 4px 15px 0px rgba(0,0,0,0.6);">
                    <header>
                        <h3 style="font-family: 'Segoe UI Light',Arial,Sans-Serif; font-size: 30px; font-weight: normal; line-height: 34px;">
                            Descrição</h3>
                    </header>
                    <div style="font-family: 'Segoe UI',Arial,Sans-Serif; font-size: 15px; line-height: 22px;">
                      {{ jogo.content }}
                    </div>
                </div>
                <iframe width="100%" height="400" src="https://www.youtube.com/embed/{{jogo.youtube | remove: "https://www.youtube.com/watch?v=" }}" frameborder="0" allowfullscreen></iframe>

                </div>

                {% endcapture %}

                {% highlight html %}
                {{generated }}
                {% endhighlight %}

                &nbsp;
               </td>

          </tr>
      {% endfor %}
{% endfor %}


  </tbody>
</table>


</div>
