---
layout: mercadolivre-base
---
<div style="background-color: #f0f0f0;margin:5px;">
  <div style="text-align: center;position: relative; margin: 32px auto; max-width:740px; background-color: #ffffff; padding: 16px 8px; -webkit-box-shadow: 4px 4px 15px 0px rgba(0,0,0,0.6); -moz-box-shadow: 4px 4px 15px 0px rgba(0,0,0,0.6); box-shadow: 4px 4px 15px 0px rgba(0,0,0,0.6);">
      <div>
        <img src="https://s3-sa-east-1.amazonaws.com/strike7-image/lista_jogos_email/topo.png" style="max-width:100%" alt="Generic placeholder thumbnail">
      </div>
  </div>
  <div style=" text-align: center;margin: 0 auto; max-width:740px; background-color: #ffffff; padding: 16px 8px; -webkit-box-shadow: 4px 4px 15px 0px rgba(0,0,0,0.6); -moz-box-shadow: 4px 4px 15px 0px rgba(0,0,0,0.6); box-shadow: 4px 4px 15px 0px rgba(0,0,0,0.6);">


        <div>
          <img src="https://s3-sa-east-1.amazonaws.com/strike7-image/lista_jogos_email/subtoplancamentos.png" style="max-width:100%" alt="Lancamentos">
        </div>


          {% for jogo in page.jogos_lancamentos %}
              <div style="padding:0px;margin-left:0px;margin-right:0px;margin-top:0.5%;margin-bottom:0.5%;min-width:130px;width:19.2%;display: inline-block;">
                    <a href="{{jogo.link_ml}}" target="_blank">
                      <img src="http://45.55.11.19/api/capa/{{jogo.capa_id}}" title="{{jogo.titulo}}"  style="height:180px;width:100%;" />
                    </a>
              </div>
          {% endfor %}

        <div>
          <img src="https://s3-sa-east-1.amazonaws.com/strike7-image/lista_jogos_email/subtopmaisalugados.png" style="max-width:100%" alt="Generic placeholder thumbnail">
        </div>


          {% for jogo in page.jogos %}
              <div style="padding:0px;margin-left:0px;margin-right:0px;margin-top:0.5%;margin-bottom:0.5%;min-width:130px;width:19.2%;display: inline-block;">
                    <a href="{{jogo.link_ml}}" target="_blank">
                      <img src="http://45.55.11.19/api/capa/{{jogo.capa_id}}" title="{{jogo.titulo}}"  style="height:180px;width:100%;" />
                    </a>
              </div>
          {% endfor %}



  </div>

</div>
