---
layout: mercadolivre-base
---
<div style="position: relative; margin: 32px auto; width: 90%; background-color: #ffffff; padding: 16px 8px; -webkit-box-shadow: 4px 4px 15px 0px rgba(0,0,0,0.6); -moz-box-shadow: 4px 4px 15px 0px rgba(0,0,0,0.6); box-shadow: 4px 4px 15px 0px rgba(0,0,0,0.6);">
    <header>
        <h3 style="font-family: 'Segoe UI Light',Arial,Sans-Serif; font-size: 30px; font-weight: normal; line-height: 34px;">
          Lista de Jogos  </h3>
    </header>
    <div style="margin:0 auto;font-family: 'Segoe UI',Arial,Sans-Serif; font-size: 15px; line-height: 22px;">
      {% for jogo in page.jogos %}
              <span>
                  <img src="http://45.55.11.19/api/capa/{{jogo.capa_id}}" title="{{jogo.titulo}}" height="165" width="140" style="margin:3px;" />
              </span>
      {% endfor %}
    </div>
</div>
<div style="display: none;">
Assasins Creed Unity
Assassins Creed Chronicle
BlazeBlue Chrono Phantasma Extend
Bordelands
Call of Duty Ghosts
Dead Rising 3 Apocalypse Edition
Diablo III Ultimate Evil Edition
Dragon Age Inquisition
FIFA 16
Forza 6
Killer Instinct
Lara Croft and the Temple of Osiris
Life is Strange
Lords of Fallen
Mad Max
Megaman Collection
Metal Gear Solid V: Ground Zeroes
Mudered
Outlast
Payday 2
Rare Replay
Resident Evil HD
Saints Row IV: Re-Elected  Gat out of Hell
Sniper Elite 3
Sunset Overdriver
Thief
Tomb Raider Definitive Edition
Zombie Army Trilogy
Alien Isolation
Batman Arkham Knight
Battlefield Hardline
Dark Souls II
Destiny
Devil May Cry DmC
Dishonored
Dragon Ball Xenoverse
Dying Lights
Evolve
Far Cry 4
FIFA 16
Gear Of War Ultimate Edition
Grand Theft Auto V
Halo Master Chief
Just Dance 2015
Lego Batman
Lego Movie Video Game
Mad Max
Metal Gear Solid V Phantom Pain
Mortal Kombat X
Never Alone
Ori and the Blind Forest
Project Cars
Prototype
Resident Evil Revelation 2
Ryse Son of Rome
Senhor dos Aneis Sombras de Mordor
Sleeping dog
SpiderMan 2
The Crew Gold Edition
The Evil Within + Expansão
The Witcher 3 Wild Hunter
Watch Dogs
</div>
