---
layout: default
---
{% capture generated %}
<div style="background-color: #f0f0f0; width: 100%; position: relative; max-width: 840px;">
    <div style="width: 100%; height: 340px; background-image: url('http://s3-sa-east-1.amazonaws.com/strike7-image/anuncio/strikesetbgtoa.png'); background-repeat: no-repeat; padding: 24px 24px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;">
        <img src="http://s3-sa-east-1.amazonaws.com/strike7-image/anuncio/logotop.png" alt="logotipo strike7 games"
             title="logo strike7"/></div>
    <img src="http://s3-sa-east-1.amazonaws.com/strike7-image/anuncio/barrainformacaotop.png" alt="barra header icones"
         title="header barra" style="max-width: 100%; height: auto;"/>


     <div style="width: 100%; background-color: #fff; display: block; height: 60px; color: #222;text-align: center;margin-top: 24px;">
         <h1 style="font-family: 'Segoe UI Light',Arial,Sans-Serif; font-size: 30px; font-weight: normal; line-height: 34px; padding: 12px 12px;">
           {{page.title | upcase}}</h1>
     </div>

    <div style="height: 340px; background-color: grey; width: 100%; position: relative; background-image: url('http://s3-sa-east-1.amazonaws.com/strike7-image/backgorund-game/{{page.background_image}}'); background-repeat: no-repeat;">
        <div style="position: relative; width: 100%; height: 100%; z-index: 80; background-color: #000000; opacity: 0.6;"></div>
        <div style="position: relative; float: right; width: 215px; height: 290px; background-color: transparent; z-index: 99; margin: -196px 40px 0 0;">
            <img src="http://s3-sa-east-1.amazonaws.com/strike7-image/cover/{{page.cover}}" width="215"
                 height="294"/></div>
        <div></div>
    </div>

    <div style="position: relative; margin: 32px auto; width: 90%; background-color: #ffffff; padding: 16px 8px; -webkit-box-shadow: 4px 4px 15px 0px rgba(0,0,0,0.6); -moz-box-shadow: 4px 4px 15px 0px rgba(0,0,0,0.6); box-shadow: 4px 4px 15px 0px rgba(0,0,0,0.6);">
        <header>
            <h3 style="font-family: 'Segoe UI Light',Arial,Sans-Serif; font-size: 30px; font-weight: normal; line-height: 34px;">
                Detalhe do jogo</h3>
        </header>
        <div style="font-family: 'Segoe UI',Arial,Sans-Serif; font-size: 15px; line-height: 22px;">
            <div>
                <ul class="fields">
                    <li id="gameSize"><label
                            style="font-family: 'Segoe UI Semibold',Arial,Sans-Serif; text-transform: capitalize;"><strong>Tamanho</strong>:</label><span>{{page.tamanho}}</span>
                    </li>
                    <li id="gameReleaseDate"><label
                            style="font-family: 'Segoe UI Semibold',Arial,Sans-Serif; text-transform: capitalize;"><strong>Data
                        de lan&ccedil;amento</strong>:</label> <span>{{page.date | date: "%d/%m/%y"}}</span></li>
                    <li id="gameDeveloper"><label
                            style="font-family: 'Segoe UI Semibold',Arial,Sans-Serif; text-transform: capitalize;"><strong>Desenvolvedor</strong>:</label><span>{{page.desenvolvedor}}</span>
                    </li>
                    <li id="gamePublisher"><label
                            style="font-family: 'Segoe UI Semibold',Arial,Sans-Serif; text-transform: capitalize;"><strong>Editor</strong>:</label><span>{{page.editor}}</span>
                    </li>
                    <li id="gameGenre"><label
                            style="font-family: 'Segoe UI Semibold',Arial,Sans-Serif; text-transform: capitalize;"><strong>G&ecirc;nero</strong>:</label><span>{{page.category}}</span>
                    </li>
                    <li id="gameHour"><label
                            style="font-family: 'Segoe UI Semibold',Arial,Sans-Serif; text-transform: capitalize;"><strong>Tempo
                        de jogo</strong>:</label><span>{{page.tempo_campanha}}/{{page.tempo_completo}} horas</span></li>
                </ul>
            </div>
            <div><label style="font-family: 'Segoe UI Semibold',Arial,Sans-Serif; text-transform: capitalize;"><strong>Descri&ccedil;&atilde;o</strong>:</label><span>{{page.content}}</span>
            </div>
        </div>
    </div>
    <div style="position: relative; margin: 32px auto; width: 90%; background-color: #ffffff; padding: 16px 8px; -webkit-box-shadow: 4px 4px 15px 0px rgba(0,0,0,0.6); -moz-box-shadow: 4px 4px 15px 0px rgba(0,0,0,0.6); box-shadow: 4px 4px 15px 0px rgba(0,0,0,0.6);">
          <header>
            <h3 style="font-family: 'Segoe UI Light',Arial,Sans-Serif; font-size: 30px; font-weight: normal; line-height: 34px;">
                     Adicione mais dias.. </h3>
              <h3 style="font-family: 'Segoe UI Light',Arial,Sans-Serif; font-size: 20px; font-weight: normal; line-height: 25px;">

                <a href="http://produto.mercadolivre.com.br/MLB-680190624-aluguel-locaco-de-jogos-xbox-one-midia-digital-_JM">
                4 dias
                </a>,

                <a href="http://produto.mercadolivre.com.br/MLB-680186941-aluguel-locaco-de-jogos-xbox-one-midia-digital-_JM">
                8 dias
                </a>,

                <a href="http://produto.mercadolivre.com.br/MLB-680195177-aluguel-locaco-de-jogos-xbox-one-midia-digital-_JM">
                16 dias
                </a>
                e
                <a href="http://produto.mercadolivre.com.br/MLB-680195464-aluguel-locaco-de-jogos-xbox-one-midia-digital-_JM">
                31 dias
                </a>
              </h3>
          </header>

    </div>
    <div style="position: relative; margin: 32px auto; width: 90%; background-color: #ffffff; padding: 16px 8px; -webkit-box-shadow: 4px 4px 15px 0px rgba(0,0,0,0.6); -moz-box-shadow: 4px 4px 15px 0px rgba(0,0,0,0.6); box-shadow: 4px 4px 15px 0px rgba(0,0,0,0.6);">
        <header>
            <h3 style="font-family: 'Segoe UI Light',Arial,Sans-Serif; font-size: 30px; font-weight: normal; line-height: 34px;">
                Perguntas frequentes</h3>
        </header>
        <div style="font-family: 'Segoe UI',Arial,Sans-Serif; font-size: 15px; line-height: 22px;"><strong><span
                style="display: block;
                font-family: 'Segoe UI Semibold',Arial,Sans-Serif; text-transform: capitalize;
                padding: 8px 8px;
                font-weight: bold;">Posso jogar com minha conta principal?</span></strong>
            Pode jogar normalmente com sua conta principal e como tamb&eacute;m ir&aacute; receber as suas conquistas
            normalmente. Posso jogar online? Sim. Online e sem restri&ccedil;&otilde;es. <strong><span
                    style="display: block;
                    font-family: 'Segoe UI Semibold',Arial,Sans-Serif;
                    text-transform: capitalize;
                    padding: 8px 8px;
                    font-weight: bold;">Como vou adquirir o jogo?</span></strong>
            Ser&aacute; enviado por email juntamente com todas as informa&ccedil;&otilde;es necess&aacute;rias para
            instala&ccedil;&atilde;o. <strong><span
                    style="display: block; font-family: 'Segoe UI Semibold',Arial,Sans-Serif; text-transform: capitalize; padding: 8px 8px;font-weight: bold;">O jogo &eacute;
                original? </span></strong> Sim. Original e completo. <strong><span
                    style="display: block; font-family: 'Segoe UI Semibold',Arial,Sans-Serif; text-transform: capitalize; padding: 8px 8px;">Problemas na instala&ccedil;&atilde;o? </span></strong>
            Estaremos a disposi&ccedil;&atilde;o para esclarecer qualquer d&uacute;vida ou problema na hora instala&ccedil;&atilde;o.
            <strong><span
                    style="display: block; font-family: 'Segoe UI Semibold',Arial,Sans-Serif; text-transform: capitalize; padding: 8px 8px;font-weight: bold;">O xbox precisa estar conectado a internet?</span></strong>
            Sim, para iniciar o jogo voc&ecirc; precisa est&aacute; com o console conectado a internet.
        </div>
    </div>
    <div style="position: relative; margin: 32px auto; width: 90%; background-color: #ffffff; padding: 16px 8px; -webkit-box-shadow: 4px 4px 15px 0px rgba(0,0,0,0.6); -moz-box-shadow: 4px 4px 15px 0px rgba(0,0,0,0.6); box-shadow: 4px 4px 15px 0px rgba(0,0,0,0.6);">
        <header>
            <h3 style="font-family: 'Segoe UI Light',Arial,Sans-Serif; font-size: 30px; font-weight: normal; line-height: 34px;">
                Informa&ccedil;&otilde;es importantes</h3>
        </header>
        <div style="font-family: 'Segoe UI',Arial,Sans-Serif; font-size: 15px; line-height: 22px;">
            <strong>Aviso:</strong> O acesso &eacute; para apenas para seu uso. Baixe apenas no seu console, se voc&ecirc;
            quebrar estas regras poderemos cancelar o acesso ao jogo. N&atilde;o altere nada, assim o acesso do seu jogo
            estar&aacute; seguro. N&atilde;o baixe o jogo em 2 ou mais consoles. Tente n&atilde;o desligar o videogame
            na hora do download. Recomendamos usar um cabo de rede direto em seu XBOX ONE para evitar tambem dados
            corrompidos e melhorar o tempo de download. O Jogo que voc&ecirc; est&aacute; alugando n&atilde;o &eacute; m&iacute;dia
            f&iacute;sica. Voc&ecirc; receber&aacute; instru&ccedil;&otilde;es para baixar o jogo e precisar&aacute; do
            XBOX ONE conectado a internet. Qualquer problema ou d&uacute;vida, nos mande um email avisando o m&aacute;is
            r&aacute;pido poss&iacute;vel.
        </div>
    </div>

    <div style="position: relative; display: block; width: 100%; background-color: #636468;"><img
            src="http://s3-sa-east-1.amazonaws.com/strike7-image/anuncio/semcustoenvio.png" alt="formas de envio"
            style="width: 100%; height: auto;"/></div>
    <div style="position: relative; display: block; width: 100%; max-height: 234px; background-color: #fff;"><img
            src="http://s3-sa-east-1.amazonaws.com/strike7-image/anuncio/comocomprar.png" alt="formas de envio"
            style="width: 100%; height: auto;"/></div>
    <div style="position: relative; display: block; width: 100%; height: 64px; background-color: #008e00; margin: 0 auto; padding: 8px 8px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;">
        <img src="http://s3-sa-east-1.amazonaws.com/strike7-image/anuncio/logorodape.png"
             style="display: block; margin: 0 auto;" alt="formas de envio"/></div>
</div>
{% endcapture %}
{{generated}}
<style type="text/css">
    .highlight pre {
        overflow: scroll;
        height: 480px;
    }
</style>
<h3>HTML Gerado</h3>
{% highlight html %}
{{generated}}
{% endhighlight %}

<h3>Youtube link </h3>
{% assign ycode = page.youtube | split: "=" %}
{{ page.youtube }}

<iframe width="560" height="315" src="https://www.youtube.com/embed/{{ycode[1]}}" frameborder="0" allowfullscreen></iframe>

<h3>Imagens</h3>
{% for image in page.images %}
<ul>
    <li><a href="#img-{{image | slugify }}">{{image}}</a></li>
</ul>
{% endfor %}
{% for image in page.images %}
    <ul>
        <li><span>{{image}}</span><img id="img-{{image | slugify }}" src="{{site.url}}/images/{{image}}"></li>
    </ul>
{% endfor %}
