---
layout: mercadolivre-base
---
<div style="position: relative; margin: 32px auto; width: 90%; background-color: #ffffff; padding: 16px 8px; -webkit-box-shadow: 4px 4px 15px 0px rgba(0,0,0,0.6); -moz-box-shadow: 4px 4px 15px 0px rgba(0,0,0,0.6); box-shadow: 4px 4px 15px 0px rgba(0,0,0,0.6);">
    <header>
        <h3 style="font-family: 'Segoe UI Light',Arial,Sans-Serif; font-size: 30px; font-weight: normal; line-height: 34px;">
          Lista de Jogos  </h3>
    </header>
    <div style="margin:0 auto;font-family: 'Segoe UI',Arial,Sans-Serif; font-size: 15px; line-height: 22px;">
      {% for jogo in page.jogos %}
              <span>
                  <img src="http://45.55.11.19/api/capa/{{jogo.capa_id}}" title="{{jogo.titulo}}" height="165" width="140" style="margin:3px;" />
              </span>
      {% endfor %}
    </div>
</div>
